body {
    margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../../assets/background/background1.png');
  background-size: cover;
  background-position: center;
}
#root {
    height: 100%;
    overflow: hidden;
}